# The objective of this notebook is to read the raw data from the World Bank Datasets

In [22]:
import wbgapi as wb
import pandas as pd

## First, check all the countries available

In [19]:
df_countries = pd.DataFrame(wb.economy.info().items)
df_countries

,id,value,aggregate,longitude,latitude,region,adminregion,lendingType,incomeLevel,capitalCity
0,ABW,Aruba,False,-70.0167,12.51670,LCN,,LNX,HIC,Oranjestad
1,AFE,Africa Eastern and Southern,True,NaN,NaN,,,,,
2,AFG,Afghanistan,False,69.1761,34.52280,SAS,SAS,IDX,LIC,Kabul
3,AFW,Africa Western and Central,True,NaN,NaN,,,,,
4,AGO,Angola,False,13.2420,-8.81155,SSF,SSA,IBD,LMC,Luanda
...,...,...,...,...,...,...,...,...,...,...
261,XKX,Kosovo,False,20.9260,42.56500,ECS,ECA,IDX,UMC,Pristina
262,YEM,"Yemen, Rep.",False,44.2075,15.35200,MEA,MNA,IDX,LIC,Sana'a
263,ZAF,South Africa,False,28.1871,-25.74600,SSF,SSA,IBD,UMC,Pretoria
264,ZMB,Zambia,False,28.2937,-15.39820,SSF,SSA,IDX,LMC,Lusaka
265,ZWE,Zimbabwe,False,31.0672,-17.83120,SSF,SSA,IDB,LMC,Harare

From this list, we are interested in the following 30: 

['USA','CHN','JPN','AUS','DEU','CHE','ESP','CAN','FRA','NOR',
'KOR','NZE','FIN','GBR','SGP','IND','ARG','BRA','URY','CHL',
'BOL','PER','CUB','VEN','MEX','COL','PRI','SLV','QAT','SYR']

In [21]:
countriesSelected30 = ['USA','CHN','JPN','AUS','DEU','CHE','ESP','CAN','FRA','NOR',
                        'KOR','NZE','FIN','GBR','SGP','IND','ARG','BRA','URY','CHL',
                        'BOL','PER','CUB','VEN','MEX','COL','PRI','SLV','QAT','SYR']

df_countries_30 = df_countries[df_countries['id'].isin(countriesSelected30)]
df_countries_30

,id,value,aggregate,longitude,latitude,region,adminregion,lendingType,incomeLevel,capitalCity
9,ARG,Argentina,False,-58.417300,-34.61180,LCN,LAC,IBD,UMC,Buenos Aires
13,AUS,Australia,False,149.129000,-35.28200,EAS,,LNX,HIC,Canberra
28,BOL,Bolivia,False,-66.193600,-13.99080,LCN,LAC,IBD,LMC,La Paz
29,BRA,Brazil,False,-47.929200,-15.78010,LCN,LAC,IBD,UMC,Brasilia
35,CAN,Canada,False,-75.691900,45.42150,NAC,,LNX,HIC,Ottawa
37,CHE,Switzerland,False,7.448210,46.94800,ECS,,LNX,HIC,Bern
39,CHL,Chile,False,-70.647500,-33.47500,LCN,,IBD,HIC,Santiago
40,CHN,China,False,116.286000,40.04950,EAS,EAP,IBD,UMC,Beijing
45,COL,Colombia,False,-74.082000,4.60987,LCN,LAC,IBD,UMC,Bogota
50,CUB,Cuba,False,-82.366700,23.13330,LCN,LAC,LNX,UMC,Havana
55,DEU,Germany,False,13.411500,52.52350,ECS,,LNX,HIC,Berlin
70,ESP,Spain,False,-3.703270,40.41670,ECS,,LNX,HIC,Madrid
75,FIN,Finland,False,24.952500,60.16080,ECS,,LNX,HIC,Helsinki
77,FRA,France,False,2.350970,48.85660,ECS,,LNX,HIC,Paris
81,GBR,United Kingdom,False,-0.126236,51.50020,ECS,,LNX,HIC,London
109,IND,India,False,77.225000,28.63530,SAS,SAS,IBD,LMC,New Delhi
119,JPN,Japan,False,139.770000,35.67000,EAS,,LNX,HIC,Tokyo
126,KOR,"Korea, Rep.",False,126.957000,37.53230,EAS,,LNX,HIC,Seoul
154,MEX,Mexico,False,-99.127600,19.42700,LCN,LAC,IBD,UMC,Mexico City
177,NOR,Norway,False,10.738700,59.91380,ECS,,LNX,HIC,Oslo
186,PER,Peru,False,-77.046500,-12.09310,LCN,LAC,IBD,UMC,Lima
192,PRI,Puerto Rico,False,-66.000000,18.23000,LCN,,LNX,HIC,San Juan
200,QAT,Qatar,False,51.508200,25.29480,MEA,,LNX,HIC,Doha
208,SGP,Singapore,False,103.850000,1.28941,EAS,,LNX,HIC,Singapore
211,SLV,El Salvador,False,-89.207300,13.70340,LCN,LAC,IBD,UMC,San Salvador
227,SYR,Syrian Arab Republic,False,36.311900,33.51460,MEA,MNA,IDX,LIC,Damascus
250,URY,Uruguay,False,-56.067500,-34.89410,LCN,,IBD,HIC,Montevideo
251,USA,United States,False,-77.032000,38.88950,NAC,,LNX,HIC,Washington D.C.
254,VEN,"Venezuela, RB",False,-69.837100,9.08165,LCN,,IBD,INX,Caracas

## Now, check all the topics available

In [2]:
wb.topic.info()

id    value
----  -------------------------------
1     Agriculture & Rural Development
2     Aid Effectiveness
3     Economy & Growth
4     Education
5     Energy & Mining
6     Environment
7     Financial Sector
8     Health
9     Infrastructure
10    Social Protection & Labor
11    Poverty
12    Private Sector
13    Public Sector
14    Science & Technology
15    Social Development
16    Urban Development
17    Gender
18    Millenium development goals
19    Climate Change
20    External Debt
21    Trade
      21 elements

From this list, we are more interested in topics 3, 4, 8 and 14.

## Check topic 3

In [11]:
df_s3 = pd.DataFrame(wb.series.info(topic=3).items)
df_s3

                    id                                              value
0       NY.ADJ.NNTY.CD         Adjusted net national income (current US$)
1    NY.ADJ.NNTY.PC.KD  Adjusted net national income per capita (const...
2       NY.ADJ.SVNX.CD  Adjusted net savings, excluding particulate em...
3    NY.ADJ.DKAP.GN.ZS  Adjusted savings: consumption of fixed capital...
4       NY.ADJ.DKAP.CD  Adjusted savings: consumption of fixed capital...
..                 ...                                                ...
249     PA.NUS.PPPC.RF  Price level ratio of PPP conversion factor (GD...
250     BN.RES.INCL.CD      Reserves and related items (BoP, current US$)
251     BX.TRF.CURR.CD       Secondary income receipts (BoP, current US$)
252     NV.SRV.TOTL.CN                Services, value added (current LCU)
253  DT.DOD.DSTC.IR.ZS              Short-term debt (% of total reserves)

[254 rows x 2 columns]

In [23]:
id_s3 = df_s3['id'].values

prueba = wb.data.DataFrame(id_s3,countriesSelected30, mrv=35) # most recent 35 years 
prueba